<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="jobs" type="DW.Loader.Jobs, DW.Loader" />
	</configSections>

	<appSettings>
		<add key="autorestart" value="false"/>
	</appSettings>

	<connectionStrings>
		<add name="SRC" connectionString="Server=192.168.1.100;Database=RBB_BUHG;Integrated Security=false; User=all; Password=hfcnf"/>
		<add name="DST" connectionString="Server=192.168.1.100;Database=RBB_DW2;Integrated Security=false; User=all; Password=hfcnf"/>
		<!--
    <add name="SRC" connectionString="Server=MAIN;Database=a2startTest;Integrated Security=true"/>
    <add name="DST" connectionString="Server=MAIN;Database=a2startTest;Integrated Security=true"/>
    <add name="SRC" connectionString="Server=MAIN;Database=RBB_BUHG;Integrated Security=true"/>
    <add name="DST" connectionString="Server=MAIN;Database=RBB_DW2;Integrated Security=true"/>
    -->
	</connectionStrings>

	<jobs>
		<add name="Остатки на 01.01.2017" type="Start" dataKey="START" source="SRC" target="DST" sourceProcedurePrefix="a2dw2.start" targetProcedurePrefix="a2dw2.start"/>
		<add name="Журнал за 2017 год" type="Journal" dataKey="JOURNAL" source="SRC" target="DST" sourceProcedurePrefix="a2dw2.journal" targetProcedurePrefix="a2dw2.journal"/>
		<add name="Каталоги" type="Catalog" dataKey="Catalog" source="SRC" target="DST" sourceProcedurePrefix="a2dw2.CATALOGS" targetProcedurePrefix="a2dw2.CATALOGS"/>
		<add name="Журнал за 2018 год" type="Journal" dataKey="JOURNAL2018" source="SRC" target="DST" sourceProcedurePrefix="a2dw2.journal" targetProcedurePrefix="a2dw2.journal2011"/>
		<add name="Документы" type="Document" dataKey="MY1" source="SRC" useGuid="false" target="DST" sourceProcedurePrefix="dbo.DOCUMENT" targetProcedurePrefix="dbo.DOCUMENT" />
		<add name="Остатки на 01.01.2018" type="Start" dataKey="START2018" source="SRC" target="DST" sourceProcedurePrefix="a2dw2.start" targetProcedurePrefix="a2dw2.start2011"/>
	</jobs>
</configuration>